<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!--  <link rel="stylesheet" href="estilos_css/style.css">-->
  <!--  <link rel="stylesheet" href="estilos_css/media_queries.css">-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
<main>
  <section id="login">
    <div id="imagem">
    </div>
    <div id="form">
      <h1>Login</h1>

      @if (language == 'pt-br') {
        @if (isLoggedIn) {
          <p>Seja bem-vindo(a) novamente.</p>
        } @else {
          <p>Crie ou entre em sua conta!</p>
        }
      } @else {
        @if (isLoggedIn) {
          <p>Welcome again.</p>
        } @else {
          <p>Do the login or create your account</p>
        }
      }

      <form method="post" autocomplete="on">
        <div class="campo">
          <span class="material-symbols-outlined">person</span>
          @if(language == 'pt-br') {
            <input type="email" [name]="usernameOrEmail" [id]="idUsernameOrEmail" [size]="17" placeholder="Seu email ou username" autocomplete="email" required minlength="5" maxlength="125">
          } @else {
            <input type="email" [name]="usernameOrEmail" [id]="idUsernameOrEmail"  [size]="17" placeholder="Your email or username" autocomplete="email" required minlength="5" maxlength="125">
          }
          <label [for]="idUsernameOrEmail"></label>
        </div>
        <div class="campo">
          <span class="material-symbols-outlined">key</span>
          @if(language == 'pt-br'){
            <input type="password" [name]="password" [id]="idPassword" size="17" placeholder="Sua senha" autocomplete="current-password" minlength="8" maxlength="50" required>
          } @else {
            <input type="password" [name]="password" [id]="idPassword" size="17" placeholder="Sua senha" autocomplete="current-password" minlength="8" maxlength="50" required>
          }
          <label [for]="idPassword"></label>
        </div>

        @if(language == 'pt-br') {

          <input type="submit" value="Entrar" (click)="signIn(usernameOrEmail, password)">
          <a [routerLink]="['/forget-password']">Esqueci a senha</a>

        } @else {

          <input type="submit" value="Sign-In" (click)="signIn(usernameOrEmail,password)">
          <a [routerLink]="['/about/item']">Forget password</a>

        }
      </form>
    </div>

    <div>
      <a (click)="setLanguage('pt-br')"><img src="assets/flags/brasil.png" class="flags"></a>
      <a (click)="setLanguage('en-US')"><img src="assets/flags/estados-unidos.png" class="flags"></a>
    </div>
  </section>
</main>
</body>
</html>
